.app {
  display: flex;
  min-width: 760px;
  margin: 3%;
  background-color: white;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  box-shadow: 10px 10px 5px #888888;
}

.img {
  margin-left: 3%;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  .app {
    visibility: hidden;
  }
}
